[Desktop Entry]
Version=1.0
Type=Application
Name={{name}}
Comment=Instalando jogos na base da humilhação
Exec={{exec}} %u
Icon={{icon}}
Terminal=false
Categories={{categories}}
MimeType=x-scheme-handler/nxm;
